.banner{
    background-image: url('../assets/imgs/banner.jpg');
    background-size: cover;
    background-position-y: 50%;
    text-align: center;
    padding: 90px 0px;
}

.banner h1 {

    color: #19FFC1;
    font-weight: 100;
}

.banner p {

    color: rgba(255, 255, 255, 0.589);
}